.custom-select {
  font-family: Arial;
}

.select-selected {
  background-color: green;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

body{
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); 
  font-size: 20px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/rhino.jpg");
  color: white;
 }

 h1{
	text-align: center;
}

ul>li>a{
  color: white;
}
.well{
  color: black;
}

#but{
  margin-top: 30px;
}
#but>a{
  color: white;
  font-size: 10px;
}