<!DOCTYPE html>
<html>
  <head>
    <title>Mbuga Conservancy</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    
    <link href="MDN/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link rel='stylesheet' href='/MDN/css/mdb.min.css'>
   <link rel='stylesheet' href='/MDN/css/mdb.css'>
  <link href="css/mdb.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <nav class="navbar light-green darken-4">
  <div class="container-fluid">
    <div class="navbar-header">
   <img src="https://image.flaticon.com/icons/svg/1419/1419285.svg" width="70px" height="70px">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">HOME</a></li>
      <li class="active"><a href="/sightings">SIGHTINGS</a></li>
    </ul>
  </div>
</nav>
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>
