<!DOCTYPE html>
<html>
  <head>
    <title>Mbuga Conservancy</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <link href="MDN/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link rel='stylesheet' href='/MDN/css/mdb.min.css'>
   <link rel='stylesheet' href='/MDN/css/mdb.css'>
  <link href="css/mdb.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mbuga Conservancy</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">Home</a></li>
      <li class="active"><a href="/sightings">Sightings</a></li>
    </ul>
  </div>
</nav>
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>